"on": push

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro:
          - ubuntu2404
          - ubuntu2204

    steps:
      - uses: actions/checkout@v6
        with:
          path: "${{ github.repository }}"

      - name: Run Molecule tests
        uses: gofrolist/molecule-action@v2
        env:
          MOLECULE_DISTRO: ${{ matrix.distro }}
